<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>DAC - Decentralized Archive & Auction of Creation</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="/css/font-awesome.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="/css/responsive.css" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="/css/colors.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <!-- LOADER -->
    <div id="preloader">
        <img class="preloader" src="/images/loader.gif" alt="">
    </div><!-- end loader -->
    <!-- END LOADER -->

    <div id="wrapper">
        <div class="collapse top-search" id="collapseExample">
            <div class="card card-block">
                <div class="newsletter-widget text-center">
                    <form class="form-inline">
                        <input type="text" class="form-control" placeholder="What you are looking for?">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                    </form>
                </div><!-- end newsletter -->
            </div>
        </div><!-- end top-search -->

        <div class="topbar-section">
            <div class="container-fluid">
                <div class="row">
                    

                    <div class="col-lg-4 hidden-md-down">
                        <div class="topmenu text-center">
                            <ul class="list-inline">
                                <li class="list-inline-item"><a href="blog-category-01.html"><i class="fa fa-star"></i> Login</a></li>
                                <li class="list-inline-item"><a href="blog-category-02.html"><i class="fa fa-bolt"></i> Register</a></li>
                                
                            </ul><!-- end ul -->
                        </div><!-- end topmenu -->
                    </div><!-- end col -->

                    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                        <div class="topsearch text-right">
                            <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-search"></i> Search</a>
                        </div><!-- end search -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end topbar -->

        <div class="header-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="logo">
                            <a href="/"><img src="/images/logo.png" alt=""></a>
                        </div><!-- end logo -->
                    </div>
                </div><!-- end row -->
            </div><!-- end header-logo -->
        </div><!-- end header -->

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#cloapediamenu" aria-controls="cloapediamenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="cloapediamenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-pink-hover" href="/">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-pink-hover" href="/archives">Archives</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-pink-hover" href="/board">Post Board</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-pink-hover" href="/dac">About DAC</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-red-hover" href="/information">Information</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-aqua-hover" href="/artfair">Art Fair</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div><!-- end container -->
        </header><!-- end header -->

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-aqua"></i> Information <small class="hidden-xs-down hidden-sm-down">Nulla felis eros, varius sit amet volutpat non. </small></h2>
                    </div><!-- end col -->
                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-custom-build">
                                <div class="blog-box">
                                    <p>
                                        DAC 아카이브 1회 게재에 따른 비용내역입니다. <br><br><br>
                                        1. 1인이 모든 비용을 부담해야 하는 순수 예술활동 및 개인전 홍보_ 5만5천원<br>
                                        (아카이브에 대한 보상으로 5코인이 제공됩니다.)<br><br>
                                      
          2. 기관(미술관, 갤러리, 대안공간, 재단, 협회, 학교 등)이 비용을 부담하는 전시의 홍보_ 10만원(부가세 포함)<br>
               (아카이브에 대한 보상으로 10코인이 제공됩니다.)<br><br>
          3. 2인 이상이 출품하는 순수 기획/그룹전 등 홍보_ 10만원(부가세 포함)<br>
               (아카이브에 대한 보상으로 10코인이 제공됩니다.)<br><br>
          4. 예술관련 비수익 세미나/심포지엄/강좌/파티/행사 등의 홍보_ 10만원(부가세 포함)<br>
               (아카이브에 대한 보상으로 10코인이 제공됩니다.)<br><br>
          5. 예술관련 각종 공개모집(수강생/신입생/직원모집/공모전 등) 홍보_20만원(부가세 포함)<br><br>
          6. 예술관련 신간도서(정간물 제외) 홍보는 10만원 상당의 해당 책자로 받고 있습니다.<br><br>
          7. 동일주최 일괄계약은 내용에 관계없이 12건 기준으로 100만원(부가세 포함) 선입금입니다.<br><br><br>

           -. 모든 항목의 디지털 이미지 및 데이터는 이용자가 게재 희망일 7일전까지 제공해야 합니다.<br>
               7일전까지 자료를 제공하지 않을 경우 행사 시작시점에 맞추어 DAC에 게재할 수 없습니다.<br>
           -. 모든 항목은 jpg 도판 5~20컷과 텍스트 7,000자 이내를 기준으로 합니다.<br>
           -. 데이터는 DAC의 정해진 형식에 맞추어 임의로 가공됩니다.<br>
           -. 게재된 내용에서 한문이 제대로 보이지 않는다면 옛한굴 글꼴을 설치하셔야 합니다.<br><br><br>
               

DAC 1일 배너광고 게재에 따른 비용내역입니다.<br><br><br>

          1. 큰 배너광고는 가로 576, 세로 250픽셀 크기로 1일 5만5천원(부가세 포함)입니다.<br><br>
          2. 작은 배너광고는 가로 286픽셀, 세로 50픽셀 크기로 1일 3만원(부가세 포함)입니다. <br><br>
          3. 배너광고를 연속 10일 이상 선입금 예약시 네오룩 아카이브 1회를 무료로 게재해 드립니다.<br><br>
           
          -. 모든 배너광고는 정지된 이미지로 jpg파일이어야 합니다.<br>
          -. 의뢰측에서 배너제작이 어려울 경우 DAC에서 배너를 제작해 드립니다.<br>
          -. 배너의 교체 시간은 당일 오전 11시부터 오후 1시 사이를 기준으로 진행됩니다.<br>
          -. 성수기 기준 큰 배너는 최대 25건, 작은 배너는 최대 22건으로 제한됩니다.<br>
          -. 중요 예술행사의 경우 이메일(dac@dac.com)로 미리 예약을 하셔야 원활한 진행이 이루어 집니다.<br>
          -. 배너일자를 조정하거나 취소하실 경우에는 최소 7일전에 전화로 알려주셔야 합니다.<br>
          -. 기타 비용과 관련한 문의사항은 네오룩과 상의해 주십시오.<br>
            * 배너는 한정된 자리로 운영되고 있어 행사시작에 임박하여 진행하실 경우 자리가 없을 수 있습니다.<br>
            * 15일전이나 한 달전에 배너 진행 일정이 세워지는대로 미리 예약하시는 것이 좋습니다.<br><br><br>

DAC에 게재하기 위해서는 다음 소스를 제공해야 합니다.<br><br><br>

          1. 가로 700픽셀 이상 크기의 jpg형식의 이미지 파일<br><br>
          2. 작품에 대한 정보(이름_제목_재료_크기 또는 길이_제작년도)<br><br>
          3. 200자 원고지 2매 이상 분량의 전시를 설명하는 글<br><br>
          4. 개인전의 경우 작가의 영문이름 철자와 한문 그리고 해당 장르<br><br>
          5. 전시공간과 작가의 주소와 전화번호 그리고 도메인, 이메일, 초대일시, 부대행사 등<br><br>
          * 웹하드를 이용하시고자 하는 경우는 개인이 사용하시는 웹하드 '내리기전용'에 자료를 올리신 후<br>
          *  웹하드 아이디/패스워드/경로/연락처를 이메일(dac@dac.com)에 기재하여 보내주시면 됩니다. <br>
             위 소스는 이메일(dac@dac.com)로만 접수 받고 있습니다.<br><br><br>


             위에 열거한 사항 중 어떤 하나라도 미흡하다면 DAC에 등록되지 않습니다.<br>
             수고롭더라도 전시기획자/큐레이터/작가님들의 협조를 부탁드립니다.<br><br>

             보내주신 데이터는 DAC이 동의한 온라인 공간에 한해서<br>
             데이터 사용권을 허락 받은 것으로 간주하고 임의로 가공하여 사용하도록 하겠습니다.<br>
             그리고 이외의 수익사업에 이용될 때는 저작권자에게 별도의 허락을 받도록 하겠습니다.<br>

             주의_온라인상 시스템 에러, 저작권, 명예훼손 등 발생 가능한 모든 문제에 대해<br>
                      DAC은 의뢰인이 입금하신 금액 한도내에서만 피해보상 책임을 갖습니다.<br>
                 현재 온라인 대략메일발송 시스템 환경은 수신율 80~90%로 미수신이 있을 수 있습니다.<br><br><br>

계좌에 비용을 입금시켰다는 것은 위 게재방법의 규약에 동의하였음을 의미합니다.<br><br>
 
         신한은행 / 110-294-289750 / 예금주_황종현<br><br>

         감사합니다.<br><br>

           DAC<br>
           Since 2019
           <br><br><br>

                                    </p>
                                    
                                </div><!-- end blog-box -->

                                

                                <hr class="invis">

                              
                <div class="row">
                    <div class="col-md-12 text-center">
                        <br>
                        <div class="copyright">&copy; Cloapedia. Design: <a href="http://html.design">HTML Design</a>.</div>
                    </div>
                </div>
            </div><!-- end container -->
        </footer><!-- end footer -->

        <div class="dmtop">Scroll to Top</div>
        
    </div><!-- end wrapper -->

    <!-- Core JavaScript
    ================================================== -->
    <script src="/js/jquery.min.js"></script>
    <script src="/js/tether.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/custom.js"></script>

</body>
</html>